{% extends "base.html" %}

{% block title %} Login Page {% endblock %}

{% block content %}
    <div class="container">
        {% if let Some(err) = error %}
            <p class="--bs-warning-text-emphasis">{{ err }}</p>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mt-5 mb-4">
                    <h1 class="fw-bold">Login</h1>
                    <p class="text-muted">Enter your email and password to sign in.</p>
                </div>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="john@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
