<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .dashboard {
      margin-top: 50px;
    }
  </style>
</head>
<body>
  {% if let Some(error) = error %}
    <p class="--bs-warning-text-emphasis">{{ error }}</p>
  {% endif %}
  {% if let Some(user) = user %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">User Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item ml-auto">
            <p class="nav-link mb-0">{{ user.name }}</p>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-4">
    <form action="/new-loan" method="post">
      <div class="mb-3">
        <label for="loan">Choose Loan Type</label>
        <select name="loan" id="loan">
          <option value="">--Please choose an option--</option>
          <option value="Personal">Personal</option>
          <option value="Auto">Auto</option>
          <option value="Student">Student</option>
          <option value="Mortgage">Mortgage</option>
          <option value="Payday">Payday</option>
          <option value="Msme">Msme</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" required >
      </div>
      <div class="mb-3">
        <label for="deadline">Estimated Return Day</label>
        <input type="datetime-local" id="deadline" name="deadline" required >
      </div>
      <button type="submit" class="btn btn-primary">Take new loan</button>
    </form>
  </div>
  {% endif %}
  </body>
  </html>
