{% extends "base.html" %}

{% block title %} Register Page {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Register</h1>
    {% if let Some(err) = error %}
        <p class="--bs-warning-text-emphasis">{{ err }}</p>
    {% endif %}
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
